.herosection {
  background: url("/banner3.webp");
  background-size: contain;
  background-position: center;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .expertiseGrid:hover > :not(:hover) {
  filter: blur(0.5px);
  opacity: 0.85;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
} */
