name: Main

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deployment
        uses: appleboy/ssh-action@master
        with:
          host: 31.220.80.11
          username: root
          port: 22
          key: ${{ secrets.SSHKEY }}
          script: |
            export PATH="$HOME/.local/share/pnpm:$PATH"
            cd ~/axon-digital || exit 1
            git fetch origin main
            git reset --hard origin/main



            cd backend
            pnpm install
            pnpm run build

            pm2 reload pdf-service || pm2 start pnpm --name pdf-service -- run start
            cd ..
            cd keysui
            pnpm install
            pnpm run build
            pm2 reload keysui || pm2 start pnpm --name keysui -- run start
            cd ..
